.section-editors-picks{
  background-color: rgba(255,116,1, 0.9);
  background-image: url('../img/aspire-bg-editors-picks-b.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  padding-top: $spacer * 10;
  padding-bottom: $spacer * 10;
}
